<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음식점 목록</title>
</head>
<body>
<form th:action="@{/restaurants/name}" method="get">
    <input type="text" name="foodname" placeholder="식당 이름 검색">
    <button type="submit">검색</button>
</form>

<h1>음식점 목록</h1>


<ul>
    <li>
        <button  th:onclick="|location.href='@{/restaurants/korean}'|">한식</button>
    </li>
    <li>
        <button  th:onclick="|location.href='@{/restaurants/japanese}'|">일식</button>
    </li>
    <li>
        <button  th:onclick="|location.href='@{/restaurants/chinese}'|">중식</button>
    </li>
    <li>
        <button  th:onclick="|location.href='@{/restaurants/western}'|">양식</button>
    </li>
</ul>
</body>
</html>
