<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음식점 목록</title>
</head>
<body>
<h1>음식점 목록</h1>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>평점</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="restaurant : ${restaurants}">
        <td>
        <a th:href="@{/restaurants/{restaurantId}(restaurantId = ${restaurant.id})}">
            <span th:text="${restaurant.name}"></span>
        </a>
        </td>
        <td th:text="${restaurant.googleRating}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>